@font-face {
    src: url('/fonts/DroidKufi-Bold.ttf');
    font-family: 'DroidKufi-bold';
    font-weight: bold;
}
@font-face {
    src: url('/fonts/DroidKufi-Regular.ttf');
    font-family: 'DroidKufi';
    font-weight: normal;
}

/* Colors Variables */
$white-color: #fcfcfc;
$dark-color:#1c1c1c;
$primary-color:#a50a2e;
$secondary-color:#ee9c47;
$additional-color:blue;
$nav-color: rgba($primary-color, 0.78);

/* Fonts Variables */
$font-ar:'DroidKufi';
$font-ar-bold:'DroidKufi-bold';